@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Wachtwoord vergeten?";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Neem contact op met een systeembeheerder.</h4>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
