@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Account aangemaakt";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Uw account is succesvol aangemaakt. 
        @*<a id="confirm-link" href="@Model.EmailConfirmationUrl">Klik hier om uw account te bevestigen</a>*@
    </p>
    }
    else
    {

    }
}
