@page "/Authentication/Login"
@layout AuthenticationLayout
@using ClassLibrary.Models
@inject NavigationManager NavigationManager

<div>
    <div class="col-12">
        <h2>Inloggen</h2>
        <RadzenCard>

            <label>E-mail</label>
            <RadzenTextBox></RadzenTextBox>

            <label>Wachtwoord</label>
            <RadzenTextBox type="password"></RadzenTextBox>
            <hr />

            <RadzenButton ButtonType="Radzen.ButtonType.Button" Path="Index" Text="Login"
                          ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2" />

            <RadzenButton ButtonType="Radzen.ButtonType.Button" Path="Index" Text="Registreren"
                          ButtonStyle="Radzen.ButtonStyle.Secondary" class="btn-block mr-2" Click="@loadRegister" />
        </RadzenCard>
    </div>
</div>

@code {
    public void loadRegister()
    {
        NavigationManager.NavigateTo("/Authentication/Register");
    }
}
