@page "/Authentication/Register"
@layout AuthenticationLayout
@using ClassLibrary.Models
@using Radzen

<div>
     <div class="col-12">
        <h2>Een nieuw account aanmaken</h2>
        <EditForm Model="model" OnValidSubmit="RegisterUser">
            <RadzenCard>
                <DataAnnotationsValidator />
                <ValidationSummary />


                <label>Voornaam</label>
                <RadzenTextBox @bind-Value="model.FirstName"></RadzenTextBox>

                <label>Achternaam</label>
                <RadzenTextBox @bind-Value="model.LastName"></RadzenTextBox>

                <label>E-mail</label>
                <RadzenTextBox @bind-Value="model.Email"></RadzenTextBox>

                <label>Wachtwoord</label>
                <RadzenTextBox type="password" @bind-Value="model.Password"></RadzenTextBox>

                <label>Wachtwoord bevestigen</label>
                <RadzenTextBox type="password" @bind-Value="model.ConfirmPassword"></RadzenTextBox>
                <hr />

                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Registreren"
                              ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2" />
            </RadzenCard>
        </EditForm>
     </div>
     
     
     

</div>


@code {
    RegisterRequest model = new RegisterRequest();

    public void RegisterUser()
    {

    }
}
