@page "/SessiesBord"
@inject NavigationManager NavigationManager
@inject ClassLibrary.Services.AppData AppData
@using ClassLibrary.Models
@using ClassLibrary
@using ClassLibrary.Services
<h1>Sessies Bord</h1>

<h4>Huidige Sessies</h4>

@if (Sessies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" PageSize="12" AllowPaging="true" Data="@Sessies" TItem="SessionModel" ColumnWidth="200px">
        <Columns>
            <RadzenGridColumn TItem="SessionModel" Property="SessionName" Title="Naam" />
            <RadzenGridColumn TItem="SessionModel" Property="SessionDesc" Title="Beschrijving" />
            <RadzenGridColumn TItem="SessionModel" Property="SessionAddress" Title="Locatie"/>
            <RadzenGridColumn TItem="SessionModel" Property="AvailableSpots" Title="Beschikbare plekken"/>
            <RadzenGridColumn TItem="SessionModel" Title="Aanmelden" Context="sessie" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="sessie">
                    @if (Int32.Parse(sessie.AvailableSpots) > 0)
                    {
                        <RadzenButton Icon="done" Size="ButtonSize.Small" Click="@(args => loadAanmeldPagina(sessie))">
                        </RadzenButton>
                    }
                    else
                    {

                    }
                </Template>
            </RadzenGridColumn>


        </Columns>
    </RadzenGrid>
}
@code {

    private IEnumerable<string>[] List;
    private List<SessionModel> Sessies;
    public string sessieId;


    protected override void OnInitialized()
    {
        Sessies = new List<SessionModel>();
        DbConnection getSessionsList = new DbConnection();
        List = getSessionsList.GetSessionsList();
        for(int i = 0; i < List[0].Count(); i++)
        {
            Sessies.Add(new SessionModel(List[0].ElementAt(i), List[1].ElementAt(i), List[2].ElementAt(i), List[3].ElementAt(i), List[4].ElementAt(i), List[5].ElementAt(i), List[6].ElementAt(i), List[7].ElementAt(i)));
        }

    }

    public void loadAanmeldPagina(SessionModel Sessie)
    {
        AppData.Sessie = Sessie;
        NavigationManager.NavigateTo("/SessieAanmeldPage");
    }
}
