@page "/evaluatieform1"
@using Radzen
@using Radzen.Blazor

<h1>Formulier 1</h1>
<div class="row">
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Student:">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Trainer:">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Date:">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenDatePicker Name="Datepicker0" TValue="dynamic">
        </RadzenDatePicker>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Quality of training material">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="    Remarks">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Speed of training">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="    Remarks">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Trainers performance">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="    Remarks">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Quality of cases">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="    Remarks">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Time to perform cases">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="    Remarks">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="How much did you learn">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="    Remarks">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Trainers knowledge of subject">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="    Remarks">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Name 3 things that you have learned">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Name 3 things that you missed">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Name 3 strong points of the course">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Name 3 weak points of this part of the course">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>

</div>

@code {

}