@page "/FormsBoard"
@inject NavigationManager NavigationManager
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using Newtonsoft.Json
@using ClassLibrary.Models
@using ClassLibrary
@using Sessiemeetings.Data
<h1>Forms Bord</h1>

<h4>Huidige Forms</h4>

@if (forms == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenGrid PageSize="12" AllowPaging="true" Data="@forms" TItem="EvaluationForm" ColumnWidth="200px">
        <Columns>
            <RadzenGridColumn TItem="EvaluationForm" Property="forms.formName" Title="Naam" />
        </Columns>
    </RadzenGrid>
}
@code {

    private IEnumerable<string>[] List;
    private List<EvaluationForm> forms;
    public string form;


    protected override void OnInitialized()
    {
        forms = new List<EvaluationForm>();
        DbConnection getFormsList = new DbConnection();
        List = getFormsList.GetFormsList();
        for (int i = 0; i < List[0].Count(); i++)
        {
            EvaluationForm jsonDe = JsonConvert.DeserializeObject<EvaluationForm>(List[1].ElementAt(i));
            forms.Add(new EvaluationForm(jsonDe.formName, jsonDe.fields));
        }

    }

}
