@page "/FormsData/{text}"
@inject NavigationManager NavigationManager
@using Radzen.Blazor
@using Sessiemeetings.Data
@using ClassLibrary
@using System.Text.Json;
@inject AuthenticationStateProvider AuthenticationStateProvider
@layout AdminLayout;



@foreach (Field field in form.fields)
{
    <div class="row">
        <div class="col-md-3">
            <h3> @field.title </h3>
        </div>

        @if (field.type == "Rate")
        {
            <div class="col-md-9">
                <h5> @field.data /5</h5>
            </div>
        }
        else
        {
            <div class="col-md-9">
                <h5> @field.data </h5>
            </div>
        }
    </div>


}



@code {
    [Parameter]
    public string Text { get; set; }
    public EvaluationForm form;
    List<string> list = new List<string>();



    protected override void OnInitialized()
    {

        DbConnection getFormData = new DbConnection();
        list = getFormData.GetFormData(Text);
        List<Field> jsonDe = JsonSerializer.Deserialize<List<Field>>(list[3]);
        form = new EvaluationForm(list[0], list[1], list[2], jsonDe);
    }





}