@page "/SessieAanmeldPage/{sessie}"
@inject NavigationManager NavigationManager
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using ClassLibrary.Models

<h1>Shrijf je in</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Sessie Info</h2>
        <RadzenCard Style="width:350px;">
            <div class="row">
                <div class="col-md-6">
                    <div>SessieNaam:</div>
                    <b>Sessie.SessionName</b>
                    <div style="margin-top:20px">Description:</div>
                    <b>Sessie.SessionDesc</b>
                </div>
                <div class="col-md-6">
                    <div>Location:</div>
                    <b>Session.SessionAdress</b>
                    <div style="margin-top:20px">Date:</div>
                    <b>Session.SessionDate</b>
                    <div style="margin-top:20px">Starting Time</div>
                    <b>Session.TodayDate</b>
                </div>
            </div>

        </RadzenCard>
        <h3>Laat hier opmerkingen achter(Dieet voorkeuren)</h3>
        <RadzenTextArea Cols="50" Rows="3" Style="margin-bottom: 20px" Change="@(args => OnInput(args))" />
        <RadzenButton Click="@submitAanmelding" Text="Voltooi Aanmelding" Style="margin-bottom: 20px; width: 150px" />
    </div>
</div>


@code {

    [Parameter] public string sessie { get; set; }
    public Session Sessie;

    public string opmerking;

    protected override void OnInitialized()
    {
        Sessie = Newtonsoft.Json.JsonConvert.DeserializeObject<Session>(sessie);
    }



    void OnInput(string value)
    {
        opmerking = value;
    }
    void submitAanmelding()
    {
        SessieAanmelding nieuweAanmelding = new SessieAanmelding(Sessie.SessionName, "User.userid", opmerking);
        NavigationManager.NavigateTo("/SessiesBord");
    }
}
