<div class="top-row pl-4 navbar navbar-dark">
    <RadzenImage Path="https://i.postimg.cc/5tp8Zr6n/cimlogo.png" Style="width:30px" />
    <a class="navbar-brand" href="">Beheerder's menu</a>
    <button class="navbar-toggler" @onclick="ToggleAdminNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleAdminNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">

            <NavLink class="nav-link" href="SessiesBord">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Aanmelden voor sessie
            </NavLink>

            <NavLink class="nav-link" href="AddSession">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sessie toevoegen
            </NavLink>




            <NavLink class="nav-link" href="AanmeldingBeheer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Aanmeldingen Beheren
            </NavLink>

            @*<NavLink class="nav-link" href="adminhomepage" @onclick="()=>evaluatieForm= !evaluatieForm">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Formulieren beheren
            </NavLink>
        @if (evaluatieForm)
        {*@
            <NavLink class="nav-link" href="FormsBoard">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Formulieren
            </NavLink>
            <NavLink class="nav-link" href="Formaanmaken">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Formulier toevoegen
            </NavLink>
            @*}*@
            <NavLink class="nav-link" href="administration">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gebruikers beheren
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseAdminNavMenu = true;

    private bool evaluatieForm;

    private string NavMenuCssClass => collapseAdminNavMenu ? "collapse" : null;

    private void ToggleAdminNavMenu()
    {
        collapseAdminNavMenu = !collapseAdminNavMenu;
    }
}
