@inherits LayoutComponentBase

<div class="middle-box">
    <div class="align-items-center d-flex" style="margin: 15px;">
        <RadzenImage Path="https://www.cimsolutions.nl/sites/default/files/Cimsolutions-logo-RGB-payoff-2_2.png" Style="width:400px"></RadzenImage>
    </div>
        @Body
    </div>

@code {

}
