@page "/EvaluatieForm1"
@using Radzen
@using Radzen.Blazor
<h1>Formulier 1</h1>
<div class="row">
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Overall event experience">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Organization of the event">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Presenters">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Handouts and Materials">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Facilities and the Venue">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenRating Name="Rating0">
        </RadzenRating>
    </div>
    <div class="col-md-3">
        <RadzenLabel Component="textBox1" style="width: 100%" Text="Extra aanvullingn">
        </RadzenLabel>
    </div>
    <div class="col-md-9">
        <RadzenTextBox Name="Textbox0">
        </RadzenTextBox>
    </div>
    
</div>

@code {

}