@page "/EvaluatieForm2"
@using Radzen
@using Radzen.Blazor
@using Sessiemeetings.Data

<h1>Creating Form, @Form.formName</h1>

<input @bind-value="Form.formName" @bind-value:event="oninput" />
<input @bind-value="fieldNum" @bind-value:event="oninput" />
<ul>
    <div class="row">

        <div class="col">
            <li>
                <RadzenLabel Component="textBox1" style="width: 100%" Text="Field name">
                </RadzenLabel>
            </li>
        </div>
        <div class="col">
            <RadzenLabel Component="textBox1" style="width: 100%" Text="Field sort">
            </RadzenLabel>
        </div>
        <div class="col">

        </div>
    </div>

    @for (int i = 1; i <= fieldNum; i++)
    {
        <div class="row">

            <div class="col">
                <li>
                    <input @bind-value="fieldName" @bind-value:event="oninput" />

                </li>
            </div>
            <div class="col">
            <RadzenDropDown TextProperty="Attributes" Name="Dropdown0" TValue="dynamic" Rate="Attributes[0]" Date="Attributes[1]" Textbox="Attributes[2]">
            </RadzenDropDown>
            </div>
            <div class="col">
                <RadzenDropDown TextProperty="Attributes" Name="Dropdown0" TValue="dynamic" Rate="Attributes[0]" Date="Attributes[1]" Textbox="Attributes[2]">
                </RadzenDropDown>
            </div>
        </div>

        AddField();
    }
</ul>

@functions{
    private void AddField()
    {
        if (string.IsNullOrEmpty(fieldName))
            return;
        Form.fields.Add(fieldName);
    }
}
@code {
    Int32 fieldNum;
    String fieldName = "";
    string Rate;
    string Date;
    string Textbox;
    EvaluationForm Form = new EvaluationForm { };
    private List<String> Attributes = new List<string>() {"textbox", "rate", "date"};

}