@page "/Index"

@*<RadzenImage Path="https://www.cimsolutions.nl/sites/default/files/Cimsolutions-logo-RGB-payoff-2_2.png" Style="width:400px"></RadzenImage>*@

<h1>Welkom bij de applicatie van CIMSOLUTIONS</h1>
