@page "/sessie"


<h3>Sessie's</h3>

<div class="row">
    <RadzenTextBox Placeholder="Zoek sessie" />
</div>
<hr />

<div class="row">
    <div class="col-md-6">
        <RadzenLink Path="AddSession" Text="Nieuwe sessie toevoegen"></RadzenLink>
    </div>
</div>

@code {

}